*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore
.idea/DtonatorPreferences.xml
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/markdown-navigator/
.idea/misc.xml
.idea/runConfigurations.xml
.idea/sonarlint/
.idea/vcs.xml
gradlew.bat
settings.gradle
